body {
}

.cuadro{
    border: 2px solid black;
    width: 30%;
    height: auto;
    margin-left:33%;
    margin-top: 10%;
    padding:2%;
    border-radius:25px;
}

.cuadro input, label, h3, p,h2{
        text-align: center;

}
h1{
    text-align:center;
}

.texto{
    border-radius:25px;
}


